<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OKHOSTING.Core" version="1.0.28" targetFramework="portable46-net451+win81" />
  <package id="OKHOSTING.Data" version="1.0.16" targetFramework="portable46-net451+win81" />
  <package id="OKHOSTING.ORM" version="1.0.24" targetFramework="portable46-net451+win81" />
  <package id="OKHOSTING.Sql" version="1.0.9" targetFramework="portable46-net451+win81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.BCrypt" version="0.3.152" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.Kernel32" version="0.3.152" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.NCrypt" version="0.3.152" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.Windows.Core" version="0.3.152" targetFramework="portable46-net451+win81" />
  <package id="Validation" version="2.3.7" targetFramework="portable46-net451+win81" />
</packages>